<nav>
    <h1>Week Nine</h1>
    <h2>A multi-tiered approach!</h2>
    <a href="/">[home]</a>
    <a href="/about">[about]</a>
    <a href="/meals/breakfast">[breakfast]</a>
    <a href="/meals/lunch">[lunch]</a>
    <a href="/meals/dinner">[dinner]</a>
    <a href="/meals/party">[party]</a>
    <a href="/meals/dinner?weekday=friday">[friday party]</a>
</nav>