<nav>
    <h1>Week Ten</h1>
    <h2>A multi-tiered approach!</h2>
    <a href="/">[home]</a>
    <a href="/about">[about]</a>
    <a href="/actors">[actors]</a>
    <a href="/meals">[meals]</a>
</nav>