<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="lost content">
            <h2>Oops! Missing content 404</h2>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>