<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>Four Oh Four</h1>
        <h2>This route does not exist. Remember, you need to start thinking routes and feature sets, not individual web pages.</h2>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>